.footer-area,
.header-area {
    background-color: yellowgreen;
    padding: 15px;
}

.header-area {
    background: url('../images/image-1.jpg') no-repeat fixed center center / cover;

    color: #ffffff;
    position: relative;

    z-index: 1;

    font-size: 60px;

    text-align: center;
    padding: 100px 0;
}


.header-area::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;

    opacity: 0.5;

    z-index: -1;

}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 20%;
    display: inline-block;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: block;
    border-bottom: 1px solid #acacac;
}

.navbar ul li:last-child {
    border-bottom: none;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
}


.navbar ul li:hover > a {
    background-color: #000000;
    color: #ffffff;

}




.post-area {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 60%;
    display: inline-block;
    padding: 15px;
}

.post-area .article {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}



.sidebar {
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 20%;
    display: inline-block;
    padding: 15px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    display: block;
    border-bottom: 1px solid #000000;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block;
    padding: 15px 0;
    color: #000000;
    text-decoration: none;
}


.footer-area {
    text-align: center;
    padding: 100px 0;
    font-size: 60px;
    color: #ffffff;
}


@media screen and (max-width: 768px) {

    .navbar {
        width: 100%;
    }

    .post-area {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }
    
}