@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #26335D;
    color: #ffffff;
}


/* Halper-Classes */
.container {
    width: 966px;
    margin: 0 auto;
}

.primary-button {
    background-color: #8D5CF6;
    color: #ffffff;
    display: inline-block;
    padding: 17px 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.primary-button:hover {
    background-color: #ffffff;
    color: #8D5CF6;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
}

.link-button {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.outline-button {
    border: 1px solid #ffffff;
    padding: 16px 40px;
    display: inline-block;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    transition: 0.3s;
}

.outline-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.section-padding {
    padding-top: 160px;
    padding-bottom: 160px;
}

/* Mainmenu-Area-CSS */
.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 2;
}

.mainmenu-area .menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 91px;
}

.mainmenu-area .menu-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

.mainmenu-area .logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.mainmenu-area .menu-list li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
    display: block;
    color: #ffffff;
}

.mainmenu-area .menu-actions .primary-button {
    margin-left: 45px;
}

.mainmenu-area .link-button {
    color: #ffffff;
}

/* --- Header-Area-CSS */
.header-area {
    background-image: url('./images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 216px;
    padding-bottom: 112px;

    position: relative;

    z-index: 1;

}

.header-area:before {
    content: "";
    background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.header-content {
    max-width: 600px;
}

.header-content .top-title {
    color: #8D5CF6;
    font-size: 16px;
}

.header-content .main-title {
    font-size: 58px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 35px;
}

.header-content .desc {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 35px;
    max-width: 422px;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.header-buttons > a {
    margin: 5px;
}

.header-buttons .primary-button {
    min-width: 133px;
    text-align: center;
}

/* === Video-Area-CSS === */
.video-box {
    background: url('./images/video-bg.jpg') no-repeat scroll center center / cover;
    padding: 134px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    overflow: hidden;
    position: relative;
    z-index: 1;
}

.video-box:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
    z-index: -1;
}

.play-button {
    background-color: #8D5CF6;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 100px;
    font-size: 20px;
    transition: 0.3s;
}

.play-button:hover {
    color: #8D5CF6;
    background-color: #ffffff;
}