@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Halper-Classes */
.container {
    width: 966px;
    margin: 0 auto;
}

.primary-button {
    background-color: #8D5CF6;
    color: #ffffff;
    display: inline-block;
    padding: 17px 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.primary-button:hover {
    background-color: #ffffff;
    color: #8D5CF6;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
}

.link-button {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}


/* Mainmenu-Area-CSS */

.mainmenu-area .menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 91px;
}

.mainmenu-area .menu-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

.mainmenu-area .logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.mainmenu-area .menu-list li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
    display: block;
}

.mainmenu-area .menu-actions .primary-button {
    margin-left: 45px;
}